.cor-de-fundo{
        --ion-background-color: #008000;
        --ion-background-color-rgb: 0,128,0;
      
        --ion-text-color: #000000;
        --ion-text-color-rgb: 0,0,0;
      
        --ion-color-step-50: #007a00;
        --ion-color-step-100: #007300;
        --ion-color-step-150: #006d00;
        --ion-color-step-200: #006600;
        --ion-color-step-250: #006000;
        --ion-color-step-300: #005a00;
        --ion-color-step-350: #005300;
        --ion-color-step-400: #004d00;
        --ion-color-step-450: #004600;
        --ion-color-step-500: #004000;
        --ion-color-step-550: #003a00;
        --ion-color-step-600: #003300;
        --ion-color-step-650: #002d00;
        --ion-color-step-700: #002600;
        --ion-color-step-750: #002000;
        --ion-color-step-800: #001a00;
        --ion-color-step-850: #001300;
        --ion-color-step-900: #000d00;
        --ion-color-step-950: #000600;
}