<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons color = "primary" slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
    <ion-button color=ion-color-primary-contrast (click)="logout()" slot="end">logout</ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <ion-label>Tipos de Pedidos</ion-label>
  <ion-select placeholder="Tipos de Pedidos">
    <ion-select-option value="Hardware">Hardware</ion-select-option>
    <ion-select-option value="Software">Software</ion-select-option>
    <ion-select-option value="Redes">Redes</ion-select-option>
    <ion-select-option value="Segurança">Segurança</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>

  <ion-label position="floating">O que houve?</ion-label>
<ion-input type=text></ion-input>
  
</ion-item>
<ion-item>
  <ion-label>Empresas</ion-label>
  <ion-select placeholder="Empresa Necessária">
    <ion-select-option value="1"></ion-select-option>
    <ion-select-option value="2"></ion-select-option>
    <ion-select-option value="3"></ion-select-option>
    <ion-select-option value="4"></ion-select-option>
    
  </ion-select>
</ion-item>

</ion-content>
