<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-avatar>
          <img src="https://lh3.googleusercontent.com/fife/AAWUweXroc9cAzWPv9OHRpvEf1DCiZZ89cJ4J3ZRZ7YpSFTwrdpv0PePb67mguP-UFcudxnWl7Inj_A9Q7737tOFn0QCtWLpuo7kyCNJSnSKLTdPwNlFg_Wrtm57xydfzRwtw7uyoRYS9w9vbtZKkn3sUTjOKMFH1goFBmVkexBDRkvq8jVW32iq-TPJbTVns_41MGXklLnSyFJKxnA8ypCUqKfa-I5sRefpC-tW1znrWyB6ZcdZZ53uIc1ajXEcj4ZuUaU43sxDxRauc6fqXtGvmtSY5DnZM2_erYqCn0J32kMo1t6CkrHhQpIEGx7Jgss5jzfbyYe-8DJm6Rvqh9g7MGkLUsEprn_xPZF-K35T_Hy_d1suOYgfa4aPhXE3xH-6YsgxA8V-3OnB23ElAQv4kacDvk7f3no0olPDnvOEYxjBQizeOUI96DGIZqxHfeIgAQWnD4gfktbomPY1-QcSX-Ony0mKx0LEYemRzaw89nUmfQeM-xvjR9tbCyfRndG6m7o7GiF98uudsAWQ2cBCEML5Wik8nUGdTjKo24CXxP8JoUsi_HcxgBDf0i29O4k5lxaKhHvnhnFkK7JYtLSV6_QwcpEbqeYgivOYVdwRZnP3Xue0NidKi09sTo6NcySCDTFSRdXjfUfnck_PuLZdxB1wYWXKZY8Zb0VCCWlmUEuQQR8aV_NNFyiwHnH3DWV7sFiXARmLNYgRmh45TYUqPMRIfqJx9ukw4xXs=w320-h276?authuser=1" >
          </ion-avatar>
          <ion-list-header>Apis's</ion-list-header>
         
         

         
          
      
          
         
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header></ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label></ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
